
@{
    ViewBag.Title = "DanhMuc";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="row">
    <div class="page_product_content">
        <div class="content-left-list">
            <div class="column" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"> Sản phẩm</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu" ng-repeat="l in listLSP">
                                    <li><span></span><a href="/SanPhamCustumer/DanhMuc?id={{l.MaLoai}}">{{l.TenLoai}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right-list">
            <h2 class="page-heading">
                <div ng-init="getbyIDTen('@ViewBag.MaLoai')"></div>
                <span class="page-heading-title">{{TenLoai}}</span>
            </h2>
            <div class="product-main">
                <div class="box-right">
                    <div  ng-init="getSPbyLoai('@ViewBag.MaLoai')"></div>
                    <ul class="product-list" ng-repeat="s in listSPbyLoai">
                        <li class="product-item">
                            <div class="left-block">
                                <a>
                                    <img class="img-responsive" alt="product"
                                         src="~/Assets/images/{{s.Anh}}" />
                                </a>

                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Thêm hàng vào giỏ" href="" ng-click="addtoCart(s.MaSP)" data-name="{{s.TenSP}}"
                                       data-price="{{s.DonGia}}" data-image="{{s.Anh}}" data-product-code="{{s.MaSP}}">Thêm vào giỏ hàng</a>
                                </div>
                                <div class="bestseller"></div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="/SanPhamCustumer/ChiTiet?id={{s.MaSP}}"><b>{{s.TenSP}}</b></a></h5>

                                <div class="content_price">
                                    <span class="price product-price">{{s.DonGia.toLocaleString(vi-vn)}}<sup>đ</sup></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@Html.Partial("_PartialCart")
@section scripts{
    <script src="~/AngulaJS/CrudService.js"></script>
    <script src="~/AngulaJS/SanPham.js"></script>
}
